.App {
  text-align: center;
}
.smart-contract{
  color: rgb(61, 42, 165);
  text-align: center;
  padding-bottom: 2rem;
  font-size: xx-large;
}
.wallet-div{
  width: 100vw;
  height: 10vh;
  text-align: right;
  justify-content: right;
}
.wallet-button{
  background-color: blue;
  color: white;
  border-radius: 8px;
  padding: 10px 40px;
  border: none;
}
.input-value{
  border: none;
  border-bottom: 1px black solid;
  padding: 2px 20px;
  margin: 2rem;
}
.input-button{
  padding: 10px 40px;
  border: none;
  color: white;
  background-color: blue;
  border-radius: 8px;
}
.p{
  font-size: 25px;
  color: rgb(61, 42, 165);
}
.better{
  display: flex;
}
.status{
  width: 100vw;
  height: 10vh;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.status i{
  font-size: medium;
  color: rgb(61, 42, 165);
  padding-top: 2rem;
  margin: auto;
  text-align: center;
  padding-bottom: 2rem;
}